<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
</head>

<body>
  <div class="container bg-principal">
    <div class=" our-webcoderskull" style="padding: 0px 40px 60px 40px;">
      <div class="row heading heading-icon">
        <h2>Top 10 Artistas</h2>
      </div>
      <ul class="row">
        <li *ngFor="let art of dataArtis; let i = index" class="col-12 col-md-6 col-lg-3"
          style="padding: 35px 35px 0px 35px;" (click)="changeOfView(art['id'])">
          <div class="cnt-block equal-hight" style="cursor: pointer">
            <figure><img [src]="art['img']" class="img-responsive" alt=""></figure>
            <h3>{{art['name']}}</h3>
          </div>
        </li>
      </ul>
    </div>
  </div>
</body>
<div>
  <br>
</div>
<div>
  <br>
</div>
<div>
  <br>
</div>

</html>
<app-footer></app-footer>

