<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
</head>

<body>
  <div class="container bg-principal">
    <div class="card">
      <div class="row">
        <div class="col-4">
          <h2 class="control atras"><i class="fas fa-step-backward"></i></h2>
        </div>
        <div class="col-4">
          <h2 class="control play"><i class="far fa-play-circle"></i></h2>
        </div>
        <div class="col-4">
          <h2 class="control pause"><i class="far fa-pause-circle"></i></h2>
        </div>
        <div class="col-4">
          <h2 class="control adelante"><i class="fas fa-step-forward"></i></h2>
        </div>
        <div id="musica-temporal"></div>
      </div>
    </div>
  </div>
</body>

</html>
